@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

html {
    background-color: #00050B;
}

h2, h3{
    font-size: 2.2em;
    text-align: center;
} 

.dtfH4{
    text-align: left;
    font-size: 2em;
}


/**********HEADER Y NAV***********/
header {
    display: flex;
    background-color: transparent;
    position: relative;
    transition: background-color 1s ease;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.logoNegro{
    display: none;
}

.navegacion {
    display: flex;
    margin-right: 30px;
    list-style: none;
}

.navegacion li a {
    margin: 10px;
    font-size: 1.2em;
}

.navegacion li a:hover {
    color: red;
    border-top: 2px solid rgb(255, 255, 255);
} 

.checkbox, .icono {
    display: none;
}

.fondoInicio {
    background-image: url("../assets/img/astro.webp");
    height: 730px;
    background-size: cover;
    background-position: center;
}

.sticky {
    background-color: rgb(247, 247, 247);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.sticky a{
    color: #00050B;
}

.sticky .navegacion li a:hover{
    border-top: 2px solid #00050B;
}

.sticky .logo .logoNegro{
    display: flex;
}
.sticky .logo .logoBlanco{
    display: none;
}

/*******************************MAIN***************************/
.bienvenidos {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.bienvenidos h1 {
    font-size: 3.5em;
}

.botonVerMas {
    background-color: rgb(10, 11, 83);
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 18px;
    border-radius: 10px;
}

.botonVerMas:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 11, 83);
}
 
/*********SOBRE NOS**************/
.info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: auto;
    margin-top: 5px;
    height: 500px;
    align-items: center;
}
.pCentrado50{
    width: 40%;
    text-align: center;
}
.pCentrado50 h2, p{
    width: 100%;
}

.nos1{
    width: 300px;
    height: 300px;
    transform: translate(20%, -20%);
}
.nos2{
    width: 300px;
    height: 300px;
    transform: translate(-10%,40%);
} 

.imgNos img:hover{
    box-shadow: 3px 3px 10px 0px #b70776;
    transition:box-shadow 1.5s, transform 500ms, filter 500ms ease-in-out;
}

/***************************CARROUSELL*************************/
.contenedorCarrousell{
    margin: auto;
    max-width: 1050px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}
    
.carousel-item {
    display: flex;
    justify-content: center; 
    opacity: 0; 
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    max-height: 500px;
    min-height: 500px;
}

.carousel-item.active {
    opacity: 1;
    position: relative;
}
 
.imgCarrousell{
    width: 500px;
} 

.pieImagen {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(66, 66, 66, 0.551);
    padding: 10px;
    font-size: 1em;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: rgb(8, 8, 8);
    font-size: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:focus, .next:focus {
    outline: none;
}
 /***********************CARDS - SERVICIOS*******************/
.productosServicios{
    margin-top: 50px;
    padding-top: 8px;
    padding-bottom: 25px;
    height: auto;
    background-image: url("../assets/img/grad.webp");
    background-attachment: fixed;
    background-size: cover;
}

.productosServicios h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
.contenedorServicios{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardServicios{
    margin-top: 10px;
    width: 28%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    transition:box-shadow 1.5s, transform 500ms, filter 500ms ease-in-out; 
    height: auto;
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.747);
    position: relative;
}

.cardServicios:hover{
    box-shadow: 2px 2px 8px 0 rgb(209, 102, 221), 4px 4px 16px 0 #d66, 0px 0px 24px 2px rgb(221, 197, 102);
    transform: scale(1.05);
}

.cardServicios img{
    width: 100%;
    height: 80%;
    border-radius: 8px 8px 0px 0px;
    min-height: 350px;
    max-height: 350px;
}

.productoH4{
    color:#ffffff;
    background-color: #00050B;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 0px 0px 8px 8px;
    width: auto;
    text-align: center;
}

.productoP{
    text-align: center;
    font-size: 0.9em;
    color: white;
    margin-bottom: 10px;
}

/*****************DTF***************/
.dtf{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.bloqueDtf{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.textoDtf{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 50%;
    margin-left: 80px;
}

.videoDtf{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videoDtf img{
    width: 70%;
    height:300px;
    margin: 10px;
}

iframe{
    width: 70%;
    height:200px;
    border: none;
    margin:10px;
}
/***********CONTACTO***********/
.sectorContacto{
    height: 15vh;
    width: 100%;
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgOriginal, .iconosHover{
    margin: 30px;
}

.iconosHover {
    display: none;
}
  
.sectorContacto a:hover .imgOriginal{
    display: none;
}
  
.sectorContacto a:hover .iconosHover {
    display: inline;
}


/***********FORMULARIO********/
.contenedorForm{
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../assets/img/grad.webp");
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
}
.contenedorForm h3{
    margin-top: 35px;
    margin-bottom: 10px;
}

.contenedorForm form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.contenedorForm form input{
    width: 35%;
    margin: 8px;
    padding: 5px 5px 10px; 
    background-color: rgba(255, 255, 255, 0.266);
    border: none;
    border-radius: 8px;
    font-size: 1em;
}

.contenedorForm form textarea{
    max-width: 100%;
    width: 35%;
    margin: 8px;
    padding: 5px 5px 10px; 
    background-color: rgba(255, 255, 255, 0.266);
    border: none;
    border-radius: 8px;
    font-size: 1em;
}

.contenedorForm form input::placeholder, textarea::placeholder{
    color: #ffffffbb;
}

.contenedorForm form input:hover{
    box-shadow: -1px 2px 10px 2px rgb(203, 203, 203);
}

.contenedorForm form textarea:hover{
    box-shadow: -1px 2px 10px 2px rgb(203, 203, 203);
}

.botonSubmit{
    width: 100%;
    padding-bottom: 20px;
}
.botonSubmit input[type="submit"]{
    background: linear-gradient(90deg, rgba(0,99,0,1) 29%, rgba(7,196,23,1) 100%);;
    padding: 10px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    color: antiquewhite;
    cursor: pointer;
}
input[type="submit"]:hover{
    box-shadow: 2px 2px 8px 10px #279a00;
    transform: scale(1.05);
}

/**********FOOTER*********/
footer {
    margin-bottom: 0px;
    background-color: rgba(16, 16, 16, 0.722);
}

.footerInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerInfo img{
    border-radius: 5px;
}

.footerInfo img, ul{
    margin: 10px;
    text-align: center;
}
footer div ul li{
    list-style-type: none;
}
footer div ul li a img:hover{
    background-color: #0077B5;
    border-radius: 2px;
}

/***********************NETBOOKS**************************/
@media (min-width: 991px) and (max-width:1199px) {
    .nos2, .nos1{
        display: none;
    } 
    .info{
        height: auto;
    }
    .contenedorServicios{
        width: 100%;
        flex-direction: row;
        align-content: center;
    }
    .cardServicios{
        height: auto;
    } 

    .productoH4{
        bottom: 30%;
    }
}

/***********************TABLETS****************************/
@media (min-width: 768px) and (max-width:991px) {
    /*---HEADER Y NAVEGACIÓN---*/
    nav {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .checkbox, .icono {
        display: flex;
        align-content: center;
        width: 24px;
        height: 24px;
        position: sticky;
        top: 10px;
        right: 25px;
        cursor: pointer;
    }

    .icono {
        pointer-events: none;
    }

    .checkbox {
        opacity: 0;
    }

    .cierre {
        display: none;
    }

    .checkbox:checked~.menuHamburguesa {
        display: none;
    }

    .checkbox:checked~.cierre {
        display: block;
    }

    .navegacion {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 100px;
        right: 0px;
        left: -10px;
        display: none;
        text-align: center;
        background-color: rgb(20, 20, 20);
    }

    .navegacion li a {
        background-color: rgb(20, 20, 20);
        display: flex;
        padding: 10px 12px;
        margin: 5px;
    }

    .navegacion li a:hover {
        border-top: 0px;
    }

    .checkbox:checked~.navegacion {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .sticky a{
        color: #ffffff;
    }
    .sticky .navegacion li a:hover{
        border-top: 0px;
    }

    /********INICIO************/
    .fondoInicio {
        background-image: url("../assets/img/astro.webp");
        box-shadow: inset 50px 50px 50px 300px rgba(0, 0, 0, 0.652);
        height: 640px;
    }
    .bienvenidos h1 {
        font-size: 3.2em;
    }

    /*********SOBRE NOS********/
    .info{
        flex-direction: column;
        margin-top: 20px;
        height: auto;
    }
    .pCentrado50{
        width: 80%;
        margin: 10px;
    }
    .nos1{
        display: none;
    }
    .nos2{
        width: 300px;
        height: 300px;
        transform: translate(0, 0);
    } 
    
    /*********CARROUSELL*******/
    .contenedorCarrousell{
        width: 90vw;
        height: 300px;
    }
        
    .carousel-item {
        max-height: 300px;
        min-height: 300px;
    }
     
    .imgCarrousell{
        width: 50%;
    } 
    
    .pieImagen {
        background-color: rgba(66, 66, 66, 0.7);
    }


    /**********CARDS***********/
    .contenedorServicios{
        width: 100%;
        flex-direction: column;
        align-content: center;
    }
    .cardServicios{
        width: 50%;
        height: auto;
        margin: 15px; 
    }

    .cardServicios img{
        max-height: 400px;
    }

    
    /**********DTF*********/    
    .bloqueDtf{
        flex-direction: column;
    }

    .textoDtf{
        text-align: left;
        width: 80%;
        margin-left: 0px;
        margin-bottom: 0px;
    }
   
    .videoDtf{
        width: 80%;
    }
    
    iframe{
        width: 100%;
        height:300px;
        margin-bottom:20px;
    } 

    /*********FORM*********/
    .contenedorForm form input{
        width: 80%;
    }
    .contenedorForm form textarea{
        width: 80%;
    }    
    .contenedorForm h3{
        width: 80%;
        margin-left: 8%;
        margin-right: 8%;
    }
}

/**********************MOBILE*****************************/
@media (min-width: 411px) and (max-width:767px) {

    /*---HEADER Y NAVEGACIÓN---*/
    nav {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .checkbox, .icono {
        display: flex;
        align-content: center;
        width: 24px;
        height: 24px;
        position: sticky;
        top: 10px;
        right: 25px;
        cursor: pointer;
    }

    .icono {
        pointer-events: none;
    }

    .checkbox {
        opacity: 0;
    }

    .cierre {
        display: none;
    }

    .checkbox:checked~.menuHamburguesa {
        display: none;
    }

    .checkbox:checked~.cierre {
        display: block;
    }

    .navegacion {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 100px;
        right: 0px;
        left: -10px;
        display: none;
        text-align: center;
        background-color: rgb(20, 20, 20);
    }

    .navegacion li a {
        background-color: rgb(20, 20, 20);
        display: flex;
        padding: 10px 12px;
        margin: 5px;
    }

    .navegacion li a:hover {
        border-top: 0px;
    }

    .checkbox:checked~.navegacion {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .sticky a{
        color: #ffffff;
    }
    .sticky .navegacion li a:hover{
        border-top: 0px;
    }

    /********INICIO************/
    .fondoInicio {
        background-image: url("../assets/img/astro.webp");
        box-shadow: inset 50px 50px 50px 300px rgba(0, 0, 0, 0.652);
        height: 640px;
    }
    .bienvenidos h1 {
        font-size: 3.2em;
    }
    
    .botonVerMas {
        margin: 18px auto;
    }

    /*********SOBRE NOS********/
    .info{
        flex-direction: column;
        margin-top: 20px;
        height: auto;
    }
    .pCentrado50{
        width: 80%;
        margin: 10px;
    }
    .nos1{
        display: none;
    }
    .nos2{
        width: 300px;
        height: 300px;
        transform: translate(0, 0);
    } 
    
    /*********CARROUSELL*******/
    .contenedorCarrousell{
        width: 90vw;
        height: 300px;
    }
        
    .carousel-item {
        max-height: 300px;
        min-height: 300px;
    }
     
    .imgCarrousell{
        width: 50%;
    } 
    
    .pieImagen {
        background-color: rgba(66, 66, 66, 0.7);
    }


    /**********CARDS***********/
    .contenedorServicios{
        width: 100%;
        flex-direction: column;
        align-content: center;
    }
    .cardServicios{
        width: 70%;
        height: auto;
        margin: 15px; 
        max-height: 600px;
        max-width: 400px;
    }
    
    /**********DTF*********/    
    .bloqueDtf{
        flex-direction: column;
    }

    .textoDtf{
        text-align: left;
        width: 80%;
        margin-left: 0px;
        margin-bottom: 0px;
    }
   
    .videoDtf{
        width: 80%;
    }

    .videoDtf img{
        width: 100%;
        height:400px;
        margin: 10px;
    }
    
    iframe{
        width: 100%;
        height:300px;
        margin-bottom:20px;
    } 

    /*********FORM*********/
    .contenedorForm form input{
        width: 80%;
    }
    .contenedorForm form textarea{
        width: 80%;
    }
}

@media (min-width: 319px) and (max-width:411px) {
    /*---HEADER Y NAVEGACIÓN---*/
    nav {
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 100%;
    }

    .checkbox, .icono {
        display: flex;
        align-content: center;
        width: 24px;
        height: 24px;
        position: sticky;
        top: 10px;
        right: 40px;
        cursor: pointer;
    }

    .icono {
        pointer-events: none;
    }

    .checkbox {
        opacity: 0;
    }

    .cierre {
        display: none;
    }

    .checkbox:checked~.menuHamburguesa {
        display: none;
    }

    .checkbox:checked~.cierre {
        display: block;
    }

    .navegacion {
        position: fixed;
        height: 100vh;
        top: 100px;
        right: -4px;
        left: -10px;
        display: none;
        text-align: center;
        background-color: rgb(20, 20, 20);
    }

    .navegacion li a {
        background-color: rgb(20, 20, 20);
        display: flex;
        padding: 10px 12px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .navegacion li a:hover {
        border-top: 0px;
    }

    .checkbox:checked~.navegacion {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .sticky{
        width: 100vw;
    }

    .sticky a{
        color: #ffffff;
    }
    .sticky .navegacion li a:hover{
        border-top: 0px;
    }

    /********INICIO************/
    .fondoInicio {
        background-image: url("../assets/img/astro.webp");
        box-shadow: inset 50px 50px 50px 300px rgba(0, 0, 0, 0.652);
        height: 600px;
    }
    .bienvenidos h1 {
        font-size: 2.1em;
    }
    
    .botonVerMas {
        margin: 18px auto;
    }

    /*********SOBRE NOS********/
    .info{
        flex-direction: column;
        margin-top: 20px;
        height: auto;
    }
    .pCentrado50{
        width: 80%;
        margin: 10px;
    }
    .nos1{
        display: none;
    }
    .nos2{
        width: 300px;
        height: 300px;
        transform: translate(0, 0);
    } 
    
    /*********CARROUSELL*******/
    .contenedorCarrousell{
        width: 90vw;
        height: 300px;
    }
        
    .carousel-item {
        max-height: 300px;
        min-height: 300px;
    }
     
    .imgCarrousell{
        width: 50%;
    } 
    
    .pieImagen {
        background-color: rgba(66, 66, 66, 0.7);
    }


    /**********CARDS***********/
    .productosServicios{
        margin-top: 20px;
        padding-top: 8px;
        padding-bottom: 10px;
    }
    
    .productosServicios h3{
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .contenedorServicios{
        flex-direction: column;
        align-content: center;
    }
    
    .cardServicios{
        width: 90%;
    }
    
    .cardServicios img{
        height: 50%;
        min-height: 0px;
        max-height: 600px;
    }
    
    /**********DTF*********/    
    .bloqueDtf{
        flex-direction: column;
    }

    .textoDtf{
        text-align: left;
        width: 80%;
        margin-left: 0px;
        margin-bottom: 0px;
    }
   
    .videoDtf{
        width: 80%;
    }

    .videoDtf img{
        width: 100%;
        height:200px;
    }
    
    iframe{
        width: 100%;
        height:300px;
        margin-bottom:20px;
    } 

    /*********FORM*********/
    .contenedorForm form input{
        width: 80%;
    }
    .contenedorForm form textarea{
        width: 80%;
    }

    /*********FOOTER******/
    .footerInfo{
        display: flex;
        flex-direction: column;
    }
    .footerInfo img{
        border-radius: 5px;
    }
    
    .footerInfo img, ul{
        margin: 10px;
        text-align: center;
    }
    footer div ul li{
        list-style-type: none;
    }
    footer div ul li a img:hover{
        background-color: #0077B5;
        border-radius: 2px;
    }
}