@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    text-decoration: none;
    color: white;
}

body {
    padding-top: 85px;
}
::selection {
    background-color: #101761;
    color: #ffffff;
}
.enlaceBlog a{
    color: #00050B;
}

/**********HEADER Y NAV***********/
nav {
    background-color: #00050B;
}

.barraNav {
    background-image: url("assets/img/menu-hamburguesa.png");
    border-color: none;
    --bs-navbar-toggler-focus-width: 0;
}

.barraNav a {
    color: rgb(202, 202, 202);
}

.barraNavToggler {
    border: none;
    width: auto !important;
    margin-left: auto;
}

.navA:hover {
    color: red;
    border-top: 2px solid rgb(255, 255, 255);
}

.carousel-item img {
    max-height: 700px;
}

.tamanioLogo {
    max-height: 70px;
    max-width: 180px;
}

/***************MAIN*****************/
.inicio {
    height: auto;
}

.textoInicio {
    padding-top: 80px;
    color: white;
}
.maxImg{
    max-height: 500px;
    transition:box-shadow 1.5s, transform 500ms, filter 500ms ease-in-out;
    margin-bottom: 30px;
}
.maxImg:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 8px black;
}
/***********CARDS - SERVICIOS***********/
.servicios {
    background-image: url("../assets/img/grad.webp");
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    padding-bottom: 20px;
}

.servicios h3 {
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
}

.cardServicios {
    margin: 15px;
    background-color: transparent;
    color: white;
    border-color: white;
    transition: box-shadow 1.5s, transform 500ms, filter 500ms ease-in-out;
}

.cardServicios:hover {
    box-shadow: 2px 2px 8px 0 rgb(209, 102, 221), 4px 4px 16px 0 #d66;
    transform: scale(1.02);
}

.cardServicios a:hover {
    color: black;
    background-color: white;
}

iframe {
    width: 100%;
    height: 300px;
}

/***********PÁG Productos**********/
.cardProd {
    margin: 15px;
    height: auto;
    /*o 470*/
}

.cardProd:hover {
    box-shadow: -1px 3px 14px 3px rgba(184, 184, 184, 1);
}

.botonCard {
    display: flex;
    justify-content: center;
}

.botonCard a {
    margin-left: 5px;
    margin-right: 5px;
}

.enlaceProducto {
    color: #00050B;
}

/***********SECTOR CONTACTO***********/
.sectorContacto {
    height: 18vh;
    width: 100%;
    background-image: url("../assets/img/grad.webp");
    background-size: cover;
    background-position: 50%;
    background-color: #00050B;
    box-shadow: inset -5px -4px 300px 6px rgba(200, 199, 199, 0.64);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgOriginal,
.iconosHover {
    margin: 30px;
}

.iconosHover {
    display: none;
}

.sectorContacto a:hover .imgOriginal {
    display: none;
}

.sectorContacto a:hover .iconosHover {
    display: inline;
    filter: drop-shadow(2px 2px 5px rgb(15, 15, 15));
}

/***********FORMULARIO CONTACTO********/
.enviarForm{
    display: flex;
    justify-content: center;
}
.enviarForm button{
    width: 30%;
    margin-bottom: 30px;
}
/***********DETALLE PROD***********/
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    width: 90%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    align-items: start;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.div1 img {
    margin: 10px;
    width: 50%;
    cursor: pointer;
}

.div2 {
    grid-area: 1 / 2 / 2 / 4;
}

.div2 img {
    width: 90%;
    max-width: 600px;
}

.div3 {
    grid-area: 1 / 4 / 2 / 6;
    overflow: hidden;
}

.formCarrito {
    display: flex;
    flex-direction: column;
}

.formCarrito label,
.formCarrito input,
.formCarrito button {
    width: 60%;
    border-radius: 8px;
}

.formCarrito input {
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 5px;
    border: solid 1px rgba(128, 128, 128, 0.347);
}

#agregarItem {
    background-color: #00050B;
    color: white;
    padding: 8px;
    border: none;
}

#agregarItem:hover {
    background-color: rgb(2, 2, 117);
}

#alerta {
    color: red;
}
.acordionPropio{
    font-size: 1em;
}
.acordionPropio button {
    border: none;
    background-color: transparent;
    color: blue;
}

.mediosPago img {
    width: 40px;
}
.solicitar{
    background-color: #00050B;
    color: white;
    padding: 8px;
    border: none;
}
.solicitar:hover {
    background-color: rgb(2, 2, 117);
}
/**********FOOTER*********/
footer {
    background-color: #00050B;
    height: 200px;
}

.footerImg {
    display: flex;
    justify-content: end;
}

.footerLista {
    display: flex;
    justify-content: start;
}

.listaFooter {
    list-style-type: none;
    color: white;
}

.listaFooter p {
    margin: 2px;
}


/***********************NETBOOKS**************************/
@media (min-width: 992px) and (max-width:1199px) {

}

/***********************TABLETS****************************/
@media (min-width: 768px) and (max-width:991.98px) {
    .nav100 {
        text-align: center;
    }
    .navA:hover {
        border-top: none;
    }
    .enviarForm button{
        width: 100%;
    }
}

/**********************MOBILE*****************************/
@media (min-width: 300px) and (max-width:767.98px) {
    /***NAV***/
    .nav100 {
        margin-top: 20px;
    }
    .navA:hover {
        border-top: none;
    }
    /***MAIN***/
    .carousel-item img {
        max-height: 700px;
    }
    .maxImg:hover{
        transform: scale(1.0);
    }
    .inicio{
        height: auto;
    }
    #sobreNosotros{
        margin-top: 15px;
    }
    .enviarForm button{
        width: 100%;
    }
    /***********DETALLE PROD***********/
    .parent {
        display: grid;
        grid-template-columns: 10fr;
        grid-template-areas:
            "div2"
            "div1"
            "div3";
        gap: 20px;
    }
    .div1 {
        grid-area: div1;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        overflow: hidden;
    }
    .div1 img {
        width: 25%;
    }
    .div2 {
        grid-area: div2;
        display: flex;
        justify-content: center;
    }
    .div3 {
        grid-area: div3;
        padding: 10px;
    }
    .formCarrito label, 
    .formCarrito input, 
    .formCarrito button {
        width: 100%;
    }
    /***FOOTER**/
    footer {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footerImg, .footerLista, .listaFooter {
        justify-content: center;
        text-align: center;
    }
    .footerImg {
        margin-top: 15px;
    }
    .footerLista {
        margin-bottom: 15px;
    }

}
